- if (canEdit(person))
  .edit: a.scary.button( href: '/people/' + person + '/edit' ) Edit

.avatar-and-role
  img.avatar( src: avatar_url(person, 80) )
  .role= person.role
h1.name= title(person.name)
!= partial('details')


- if (typeof(team) !== 'undefined')
  h2
    | On
    a( href: '/teams/' + team )= team.name

.bio!= markdown(person.bio)


- if (voting)
  - if (nextTeam)
    h1 Next Vote
    p
      | You should vote on
      a( href: '/teams' + nextTeam )= nextTeam.entry.name
      |  next.

    .next-vote
      .entry-info
        a( href: nextTeam.entry.url ): img.screenshot( src: nextTeam.screenshot() )
        h2: a( href: nextTeam.entry.url )= nextTeam.entry.name
        h3
          | by 
          a( href: '/teams/' + nextTeam )= nextTeam.name
        .buttons
          a.button( href: nextTeam.entry.url, target: 'nextVote' ) View Entry
        .clear
        != markdown(nextTeam.entry.description)
        - if (nextTeam.entry.instructions)
          h4 Judging Instructions
          != markdown(nextTeam.entry.instructions)

      != partial('votes/form', { vote: vote, nextTeam: nextTeam })


  h1 Your Votes
  ul.votes!= partial('votes/vote', votes)

- if (admin)
  - var twitterBase = 'http://twitter.com/intent/tweet?text=' + encodeURIComponent(('@' + person.twitterScreenName).replace('@@', '@') + ' ');
  - if (person.nomination)
    a.button( href: twitterBase + encodeURIComponent("You've been nominated to judge @node_knockout! Interested? Takes ~2hrs online, at your convenience, between 8/29 and 9/5."), target: 'twitter' ) Confirm
  - if (person.judge)
    a.button( href: twitterBase + encodeURIComponent("Sweet! Made you a judge. You can edit your profile at") + "&url=" + encodeURIComponent('http://nodeknockout.com' + req.url.replace('/people/', '/judges/') + '/edit'), target: 'twitter') Alert

