- if (canEdit(person))
  .edit: a.scary.button( href: '/people/' + person + '/edit' ) Edit

.avatar-and-role
  img.avatar( src: avatar_url(person, 80) )
  .role= person.role
h1.name= title(person.name)
!= partial('details')

- if (team)
  p
    | Contestant on
    a( href: '/teams/' + team )= team.name
    | .

.bio!= markdown(person.bio)


- if (admin || voting)
  - if (nextTeam)
    h1#next-vote Next Entry to Review
    p
      | Review entry
      a( href: nextTeam.entry.url, target: 'entry' )= nextTeam.entry.name
      |  below.

    .next-vote
      .entry-info
        a( href: nextTeam.entry.url, target: 'entry' ): img.screenshot( src: nextTeam.screenshot() )
        h2: a( href: nextTeam.entry.url, target: 'entry' )= nextTeam.entry.name
        h3
          | by 
          a( href: '/teams/' + nextTeam, target: 'team' )= nextTeam.name
        .buttons
          a.button( href: nextTeam.entry.url, target: 'entry' ) View Entry
        .clear
        != markdown(nextTeam.entry.description)
        - if (nextTeam.entry.instructions)
          h4 Judging Instructions
          != markdown(nextTeam.entry.instructions)

      != partial('votes/form', { vote: vote, nextTeam: nextTeam })


  - if (votes.length)
    - if (req.user && (req.user.id === req.person.id))
      h1#votes Your Votes
    - else
      h1#votes Votes
    ul.votes!= partial('votes/vote', votes)

- if (admin)
  - var twitterBase = 'http://twitter.com/intent/tweet?text=' + encodeURIComponent(('@' + person.twitterScreenName).replace('@@', '@') + ' ');
  - if (person.nomination)
    a.button( href: twitterBase + encodeURIComponent("You've been nominated to judge @node_knockout! Interested? Takes ~2hrs online, at your convenience, between 8/29 and 9/5."), target: 'twitter' ) Confirm
  - if (person.judge)
    a.button( href: twitterBase + encodeURIComponent("Sweet! Made you a judge. You can edit your profile at") + "&url=" + encodeURIComponent('http://nodeknockout.com' + req.url.replace('/people/', '/judges/') + '/edit'), target: 'twitter') Alert

