- if (canEdit(person))
  .edit: a.scary.button( href: '/people/' + person + '/edit' ) Edit

.avatar-and-role
  img.avatar( src: avatar_url(person, 80) )
  .role= person.role
h1.name= title(person.name)
!= partial('details')

- if (team)
  p.team
    | Contestant on
    a( href: '/teams/' + team )= team.name
    | .

- if (req.user && (person.id === req.user.id) && req.user.judge)
  p.instructions
    | You've reviewed
    b #{votes.length} of the 10
    |  entries we'd like you to look at.
    - if (votes.length)
      | See below for the entry we suggest you review next.
    - else
      a( href: '#next-vote' ) See below
      |  for a suggestion about where to get started.
- else
  .bio!= markdown(person.bio)

- if (admin || voting)
  - if (nextVote.team)
    h1#next-vote Suggested Entry to Review
    p
      | We think you should take a look at
      a( href: nextVote.team.entry.url, target: 'entry' )= nextVote.team.entry.name
      |  below.

    .next-vote
      .entry-info
        a( href: nextVote.team.entry.url, target: 'entry' ): img.screenshot( src: nextVote.team.screenshot() )
        h2: a( href: nextVote.team.entry.url, target: 'entry' )= nextVote.team.entry.name
        h3
          | by 
          a( href: '/teams/' + nextVote.team, target: 'team' )= nextVote.team.name
        .buttons
          a.button( href: nextVote.team.entry.url, target: 'entry' ) View Entry
        .clear
        != markdown(nextVote.team.entry.description)
        - if (nextVote.team.entry.instructions)
          h4 Judging Instructions
          != markdown(nextVote.team.entry.instructions)

      != partial('votes/form', { vote: nextVote })

  - if (votes.length)
    - if (req.user && (req.user.id === req.person.id))
      h1#votes Your Votes (#{votes.length})
      - each vote in votes
        != partial('votes/form', { vote: vote })
    - else
      h1#votes Votes (#{votes.length})
      ul.votes!= partial('votes/vote', votes)

- if (admin)
  - var twitterBase = 'http://twitter.com/intent/tweet?text=' + encodeURIComponent(('@' + person.twitterScreenName).replace('@@', '@') + ' ');
  - if (person.nomination)
    a.button( href: twitterBase + encodeURIComponent("You've been nominated to judge @node_knockout! Interested? Takes ~2hrs online, at your convenience, between 8/29 and 9/5."), target: 'twitter' ) Confirm
  - if (person.judge)
    a.button( href: twitterBase + encodeURIComponent("Sweet! Made you a judge. You can edit your profile at") + "&url=" + encodeURIComponent('http://nodeknockout.com' + req.url.replace('/people/', '/judges/') + '/edit'), target: 'twitter') Alert
